name: GitHub Classroom Workflow
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    name: Autograding
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: docker/setup-buildx-action@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'zulu'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build, Test and Copy files for docker-compose
        run: ./gradlew clean test copyJarToDocker

      - name: Build images
        timeout-minutes: 10
        run: docker compose -f docker-compose/docker-compose.yml build

      - name: Run containers
        timeout-minutes: 30
        run: |
          docker compose -f docker-compose/docker-compose.yml up -d
          ./scripts/wait-script.sh
        env:
          WAIT_ENDPOINTS: http://localhost:8888/actuator/health, http://localhost:8080/actuator/health, http://localhost:8070/api/v1/actuator/health, http://localhost:8060/api/v1/actuator/health, http://localhost:8050/api/v1/actuator/health, http://localhost:8040/api/v1/actuator/health

      - name: Run API Tests
        timeout-minutes: 5
        run: ./scripts/test-script.sh
        env:
          VARIANT: v1
          SERVICE_NAME: bonus-service
          WAIT_ENDPOINT: http://localhost:8070/api/v1/actuator/health

      - uses: education/autograding@v1
        id: autograder
        continue-on-error: true

      - name: Github auto grader mark
        uses: Romanow/google-sheet-autograder-marker@v1.0
        with:
          google_token: ${{secrets.GOOGLE_API_KEY}}
          sheet_id: "1xkgjUX6Qmk7rdJG-QPOToav-HWWtthJjnShIKnw3oIY"
          homework_number: 3
          user_column: 'D'
          column_offset: 'F'
          mark: "'+"

      - name: Stop containers
        if: always()
        continue-on-error: true
        run: docker compose -f docker-compose/docker-compose.yml down -v
